.group{
    position: relative;
    z-index: 15;
}
.group:hover{
    background: white;
}
.inner {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 12px;
    cursor: pointer;
}

.name {
    color: rgb(50, 49, 48);
    height: auto !important;
    border-bottom: none !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    margin: auto 5px !important;
    box-shadow: none !important;
    font-family: "Times New Roman", sans-serif !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.was_closed {
    animation: rotateFrom90deg .7s ease-in-out;
    transform: rotate(0deg);
}

.icon_arrow_wrapper {
    display: block;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: -5px;
}

.icon_arrow:before {
    font-family: "Fabric MDL2 Assets", serif;
    font-size: 12px;
    font-style: normal;
    width: 16px;
    content: "\E70D";
}


.Closed {
    animation: rotateTo90deg .7s ease-in-out;
    transform: rotate(90deg);
}

.icon_group {
    font-size: 0;
    animation: popup .5s ease-in-out;
    margin-top: 5px;
    color: rgb(50, 49, 48);
}

.close_icon {
    animation: fade-out .7s ease-in-out forwards;
}

@keyframes popup {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 24px;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        width: 24px;
    }

    100% {
        opacity: 0;
        width: 0;
    }
}

@keyframes rotateTo90deg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes rotateFrom90deg {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.lists_wrapper {
    width: calc(100% - 19px);
    margin-left: 19px;
    position: relative;
    cursor: pointer;
}

.lists {
    width: 100%;
    padding: 0 0 0 12px;
    position: relative;
}

.lists_empty {
    display: flex;
    margin-left: -12px;
    width: 100%;
    padding: 0 32px;
    justify-content: center;
    color: rgb(102, 102, 102);
    font-size: 15px;
    text-align: center;
}

.border_line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    border-left: 2px solid rgb(161, 159, 157);
}

.lists_close {
    display: none;
}

.drop_item:hover {
    padding: 8px;
    border: 2px #465efc dashed;
}

@media (min-width: 1010px) {
    .lists_wrapper, .lists_empty {
        width: 271px;
    }

    .lists_empty {
        padding: 0 75px;
    }
}