body {
    margin: 0;
    font: normal normal 16px Times New Roman;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

button{
    border: none;
    cursor: pointer;
}

nav {
    color: inherit;
    line-height: unset !important;
    height: unset !important;
}

i {
    line-height: unset !important;
    height: unset !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: "Fabric MDL2 Assets";
    src: url("assets/font/SegMDL2.ttf") format("truetype");
}

@media (max-width: 320px) {
    body, #root {
        width: 320px;
    }
}