.wrapper {
    position: absolute;
    border-radius: 1px;
    display: grid;
    width: 280px;
    height: 42px;
    grid-template-columns: 28px 252px;
    background: #ecf6fd;
    z-index: 5;
    opacity: .8;
}

.toggleComplete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    display: flex;
    align-items: center;
    width: 252px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 4px;
    word-spacing: 0;
    font-family: 'Times new Roman', monospace;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(50, 49, 48);
}

.completed:not(:focus-visible) {
    text-decoration: line-through;
}