.add_task {
    width: 100%;
    margin: 0 0 1px 0;
    background: rgb(243, 242, 241);
    border-radius: 4px;
    border: 1px solid #edebe9;
}

.input_wrapper {
    height: 56px;
    width: calc(100% - 16px);
    margin: 0 8px;
    display: grid;
    grid-template-columns: 32px auto;
}

.not_completed {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.not_completed > i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: calc(100% - 5px) !important;
    height: 40px !important;
    margin: 8px -4px 8px 0 !important;
    background: white !important;
    padding: 0 4px !important;
    box-shadow: 0 -17px 0 -16px #2564cf inset !important;
    border-bottom: none !important;
    border-radius: 4px !important;
    font-size: 14px !important;
}

.unFocused_input {
    width: calc(100% - 5px) !important;
    height: 40px !important;
    margin: 8px -4px 8px 0 !important;
    background: transparent !important;
    padding: 0 4px !important;
    box-shadow: none !important;
    border-bottom: none !important;
    border-radius: 4px !important;
    font-size: 14px !important;
}

.blue_placeholder::placeholder {
    color: #2564cf;
}

.red_placeholder::placeholder {
    color: rgb(210, 83, 78);
}

.input::placeholder {
    font-size: 14px !important;
    opacity: .84;
}

.input:focus::placeholder {
    color: #323130;
}

.unFocused_icon {
    color: rgb(37, 100, 207);
    font-family: "Fabric MDL2 Assets", ui-monospace;
    font-style: normal;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
}

.unFocused_icon:before {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: auto;
    content: '\E710';
}

.tool_bar {
    width: calc(100% - 16px);
    height: 44px;
    margin: 0 8px;
    display: grid;
    grid-template-columns: auto 83px;
}

.change_newTask_data {
    display: flex;
    /*width: fit-content;*/
    /*max-width: fit-content;*/
    margin-left: 27px !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-inline-end: 0 !important;
    padding-inline-start: 0 !important;
}

.change_newTask_data_item {
    position: relative;
    /*width: fit-content;*/
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    border-radius: 3px;
}

.chosen_date_wrapper {
    background: rgb(255, 255, 255);
    border: solid 1px rgb(237, 235, 233);
}

.change_newTask_data_item:hover {
    background: #edebe9;
}

.icon_calendar, .icon_calendar:before {
    width: 24px;
    height: 24px;
    font-size: 16px;
}

.icon_calendar:before {
    font-family: "Fabric MDL2 Assets", ui-monospace;
    font-style: normal;
    content: "\E787";
    display: grid;
    justify-content: center;
    align-items: center;
    color: #797775;
}

.create_task_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.create_task:disabled {
    color: rgb(161, 159, 157);
}

.create_task {
    color: #2564cf;
    height: 32px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent !important;
}

.chosen_date {
    color: #323130;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}