.wrapper {
    position: absolute;
    width: 221px;
    height: auto;
    background: white;
    box-shadow: 0 2px 8px -2px rgb(134, 149, 161);
    border-radius: 2px;
    z-index: 999;
    animation: cubic-bezier(0.65, 0, 0.35, 1) .5s show-up;
}

.custom_date {
    width: 100%;
    height: 100%;
    padding: 6px 0;
    display: grid;
    grid-template-rows: 46px auto 58px;
}

.title {
    border-bottom: 1px solid rgb(190, 188, 188);
    padding: 8px 8px 12px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(50, 49, 48);
    font-size: 14px;
    font-weight: 600;
}

.custom_date_body_wrapper {
    height: 100%;
    width: 100%;
}

.custom_date_body {
    width: 100%;
    height: 100%;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(7, 28px);
    grid-template-rows: 32px repeat(auto-fit, 28px);
    font-size: 12px;
}

.date {
    display: flex;
    align-items: center;
    padding: 0 5px;
    color: #323130;
    font-size: 14px;
    font-weight: 600;
}

.dayOfWeek {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    color: #323130;
}

.change_month {
    grid-column: 1 / 8;
    margin-bottom: 4px;
    display: grid;
    grid-template-columns: auto 28px 28px;
}

.icon_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(50, 49, 48);
    cursor: pointer;
}

.icon_wrapper:hover {
    background-color: #f4f4f4;
    color: #272727;
}

.icon, .icon:before {
    font-family: "Fabric MDL2 Assets", ui-monospace;
    font-style: normal;
    width: 12px;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
}

.arrow_up:before {
    content: '\E74A';
}

.arrow_down:before {
    content: '\E74B';
}

.save_btn_wrapper {
    padding: 14px 16px 12px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.save_btn {
    width: 96px;
    height: 32px;
    color: white;
    font-weight: bold;
    background: #2564CF !important;
}

.save_btn:hover{
    background: #215ABA !important;
}

@keyframes show-up {
    0%{
        opacity: 0;
        margin-left: -10px;
    }
    100%{
        opacity: 1;
        margin-left: 0;
    }
}