.top_text {
    margin-bottom: 40px;
}

.form > input:not(:first-child){
    margin-bottom: 20px !important;
}

.custom_btn {
    margin-top: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(117, 64, 238, 0.2);
    width: 155px;
    height: 43px;
    border-radius: 23px;
    color: #7540EE;
    transition: all .2s ease-out;
}

.custom_btn:hover, .custom_btn:focus {
    background: rgba(117, 64, 238, 0.4);
}

.custom_btn:disabled {
    cursor: not-allowed;
    background: rgba(117, 64, 238, 0.1);
    color: rgba(117, 64, 238, 0.3);;
}

.send_code_btn {
    font-size: .9rem;
    padding: 0 !important;
    margin-bottom: 10px;
}

.equal_text {
    font-size: 1rem;
    color: #787993;
}

.navigate_to_login {
    display: flex;
    justify-content: center;
    line-height: 150%;
    margin-top: 30px;
    color: #787993;
}

.navLink {
    color: #FF7052;
    position: relative;
}

.navLink::after{
    content: ' ';
    position: absolute;
    background: rgba(255, 112, 82, 0.45);
    bottom: 0;
    left: 50%;
    width: 90%;
    height: 2px;
}