.registerPage:not(:first-child) {
    line-height: 150%;
    color: #787993;
}
.text_span{
    position: relative;
    color: #FF7052;
}
.text_span::after{
    content: ' ';

    position: absolute;
    bottom: 0;
    left: 0;
    width: 98px;
    height: 2px;
    background: rgba(255, 112, 82, 0.25);
}
.registerPage > h4 {
    color: #25265E;
}

.registerPage > h6 {
    margin-bottom: 42px;
}

.email_input, .password_input {
    margin-bottom: 34px !important;
}

.custom_btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 112, 82, 0.2);
    width: 92px;
    height: 43px;
    border-radius: 23px;
    color: #FF7052;
    transition: all .2s ease-out;
}

.custom_btn:hover, .custom_btn:focus {
    background: rgba(255, 112, 82, 0.4);
}

.toLoginPage {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 4px;
}

.register_btn_wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
}
.toLoginPage > a{
    color: #7540EE;
    position: relative;
}
.toLoginPage > a::after{
    content: ' ';
    position: absolute;
    background: rgba(117, 64, 238, .25);
    bottom: 0;
    left: 16px;
    width: 41px;
    height: 2px;
}
.timezone_label{
    font-size: 1.2rem;
    margin-right: 5px;
}
.timezone{
    display: inline-block !important;
    width: 120px;
}