.wrapper {
    width: 230px;
    height: 38px;
    display: grid;
    grid-template-columns: 42px 188px;
    cursor: pointer;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_wrapper {
    width: 188px;
    padding-right: 5px;
    display: flex;
    align-items: center;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.red {
    color: #a80000;
    fill: #a80000;
}

.icon > i, .icon > svg {
    width: 24px;
    height: 24px;
}