.drag_list {
    opacity: .8;
    position: absolute;
    width: 186px;
    height: 36px;
    z-index: 5;
    background: rgba(255, 255, 255, .5);
}

.list {
    width: 100%;
    height: 100%;
    padding: 0 12px;
    display: flex;
    line-height: 24px;
    cursor: pointer;
}

.icon {
    height: 100%;
    font-family: "Fabric MDL2 Assets", serif;
    font-size: 16px;
    font-style: normal;
    text-decoration-color: rgb(37, 100, 207);
}

.icon:before {
    color: rgb(37, 100, 207);
    cursor: pointer;
    content: "\E8FD";
    width: 24px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    width: 100%;
    padding: 0 4px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto 0 auto 5px;
}

.number_of_tasks {
    color: black;
    margin: auto 0 auto auto;
}

@media (min-width: 1010px) {
    .drag_list {
        width: 263px;
    }
}