.wrapper {
    padding: 0 10px 0 8px;
    display: flex;
    width: 100%;
    height: 52px;
    color: #797775;
    cursor: pointer;
    position: relative;
}

.wrapper:hover {
    background: #edebe9;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 5px;
}

.overdue {
    color: rgb(168, 0, 0);
}

.deadline {
    color: #2564cf;
}

.icon {
    width: 32px;
    min-height: 100%;
}

.icon:before {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fabric MDL2 Assets", ui-monospace;
    font-style: normal;
    content: "\E787";
    width: 100%;
    min-height: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}