.wrapper {
    position: absolute;
    z-index: 6;
    background: white;
    box-shadow: 0 0 55px 0 rgb(134, 149, 161);
    width: 160px;
    height: 101px;
    padding: 6px 0;
}

.contextMenu_item {
    width: 160px;
    padding: 0 4px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 34px 118px;
    grid-template-rows: 38px;
}

.contextMenu_item:hover{
    background: #ededed;
}

.iconSize_24 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: rgb(121, 119, 117);
    font-family: "Fabric MDL2 Assets", ui-monospace;
    font-style: normal;
}

.iconSize_24:before {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rename_icon:before {
    content: "\E70F"
}

.rename_text {
    height: 100%;
    width: 100%;
    padding: 0 0 0 4px;
    display: flex;
    align-items: center;
}

.delete_text {
    height: 100%;
    width: 100%;
    padding: 0 0 0 4px;
    display: flex;
    align-items: center;
    color: rgb(168, 0, 0);
}

.ungroup_icon {
    fill: rgb(50, 49, 48);
}

.delete_icon:before {
    color: rgb(168, 0, 0);
    content: "\E74D";
}

.line {
    width: 100%;
    margin: 6px 0;
    height: 0;
    border-bottom: 1px solid #E5E5E5;
    background: #E5E5E5;
}