.list {
    height: 36px;
    padding: 0 12px;
    display: flex;
    line-height: 24px;
    cursor: pointer;
}

.rename_bg {
    padding-right: 0;
    box-shadow: -3px -3px 16px -6px rgba(49, 81, 105, 0.2) inset;
}

.rename_bg_forGroup {
    box-shadow: -3px -3px 26px -6px rgba(49, 81, 105, 0.2) inset;
    width: calc(100% + 12px);
    margin-left: -12px;
}

.black_list {
    width: calc(100% + 12px);
    margin-left: -12px;
}

.black_list:hover {
    background: rgb(237, 237, 237);
}

.white_list {
    width: 100%;
}

.white_list:hover {
    background: white;
}

.icon {
    height: 100%;
    font-family: "Fabric MDL2 Assets", serif;
    font-size: 16px;
    font-style: normal;
    text-decoration-color: rgb(37, 100, 207);
}

.icon:before {
    color: rgb(37, 100, 207);
    cursor: pointer;
    content: "\E8FD";
    width: 24px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    width: 100%;
    color: rgb(50, 49, 48);
    height: auto !important;
    border-bottom: none !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    margin: auto 5px !important;
    box-shadow: none !important;
    font-family: "Times New Roman", sans-serif !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input {
    background: transparent;
    width: 100% !important;
}

.number_of_tasks {
    color: black;
    margin: auto 0 auto auto;
}

@media (min-width: 1010px) {
    .rename_bg_forGroup{
        width: calc(100% + 12px);
    }
    .white_list {
        width: 100%;
    }
    .black_list {
        width: calc(100% + 12px);
    }
}